<!DOCTYPE html>
<html lang="pl">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://kit.fontawesome.com/7043ebcb81.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="bruh">
        <H1>404 - pejdż not found</H1>
        <br>
        <a href="{{url_for('post_app.post_lookup', post_id = random[0])}}"><img
                src="/static/img/posts/{{random[1]}}_small.webp"></a>
    </div>
</body>

</html>