<!DOCTYPE html>
<html lang="pl">

<head>
    {% block head %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://kit.fontawesome.com/7043ebcb81.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="container">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="error">
            <ul>
                <li> <input type="button" value="x" onclick="usunkurwe()"> </li>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
        <div id="logo"><img src="/static/img/ui/logo.webp"></div>
        <div id="left-bar">
            <ul id="menu">
                <li><img src=" /static/img/ui/menu.webp"></li>
                <li><a href="/">Strona główna</a></li>
                <li><a href="{{url_for('kontakt')}}">Kontakt</a></li>
                <li><a href="https://pornhub.com">Discord</a></li>
            </ul>

            <ul id="kategorie">
                <li><img src=" /static/img/ui/kategorie.webp"></li>
                <li><a href="#">HISTORIA DŻEYSONA</a></li>
                <li><a href="#">Tańce i Pieśni</a></li>
                <li><a href="#">Kultowe</a></li>
                <li><a href="#">Wiele innych</a></li>
                <li><a href="#">NORBI</a></li>
                <li><a href="#">Menelskie GRY</a></li>
            </ul>

            <ul id="losowy">
                <li><img src=" /static/img/ui/losowy.webp"></li>
                <li><a href="{{url_for('post_app.post_lookup', post_id = random[0])}}"><img
                            src="/static/img/posts/{{random[1]}}_small.webp"></a></li>
            </ul>

            <ul id="hity">
                <li><img src=" /static/img/ui/hity.webp"></li>
                {% for top_post in top_posts %}
                <li class="hit">
                    <div id="title"><a
                            href="{{url_for('post_app.post_lookup', post_id = top_post[0])}}">{{top_post[2]}}</a> </div>
                    <div id="views">{{top_post[1]}}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="mid-bar">
            {% block content %}
            {% endblock %}
        </div>
        <div id="right-bar">
            <ul id="szukaj">
                <li><img src=" /static/img/ui/szukaj.webp"></li>
                <form action="{{url_for('search')}}" method="POST">
                    <input type="text" name="query" placeholder="Szukaj...">
                    <input type="submit" value="Szukaj">
                </form>
            </ul>

            <ul id="logowanie">
                {% if session['user']|length < 1 %} <form action="{{url_for('login_app.login')}}" method="POST">
                    <li><img src=" /static/img/ui/logowanie.webp"></li>
                    <li> <span>E-mail</span> <input type="text" name="eml"></li>
                    <li> <span>Hasło</span> <input type="text" name="pswrd"></li>
                    <li><input type="checkbox"> <span>Zapamiętaj mnie</span></li>
                    <li><input type="submit" value="Zaloguj"></li>
                    <li><a href="{{url_for('login_app.register')}}">Nowe konto</a></li>
                    <li><a href="{{url_for('login_app.reset_password')}}">Nie pamiętam hasła</a></li>
                    </form>
                    {% else %}
                    zalogowano jako {{session['user']['nick']}}
                    <li><a href="{{url_for('user_app.user',nick = session['user']['nick'])}}">Profil</a></li>
                    <li><a href="{{url_for('user_app.settings',nick = session['user']['nick'])}}">Ustawienia</a></li>
                    <li><a href="{{url_for('post_app.create')}}">Stwórz post</a></li>
                    <li><a href="{{url_for('admin_app.admin_panel')}}">Admin Panel</a></li>
                    <li>
                        <form action="{{url_for('login_app.logout')}}" method="POST">
                            <input type="submit" value="wyloguj">
                        </form>
                </>
                {% endif %}
            </ul>

            <ul id="polecane">
                <li><img src=" /static/img/ui/polecane.webp"></li>
                <li><a href="#">Węgiel Studio</a></li>
            </ul>

        </div>
    </div>
</body>

</html>