<!DOCTYPE html>
<html lang="pl">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script type="text/javascrip" src="{{ url_for('static',filename='js/main.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="container">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="error">
            <ul>
                <li> <input type="button" value="x" onclick="usunkurwe()"> </li>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
            {% endif %}
        {% endwith %}
        <div id="logo"><img src="/static/img/ui/logo.webp"></div>
        <div id="left-bar">
            <ul id="menu">
                <li><img src=" /static/img/ui/menu.webp"></li>
                <li><a href="/">Strona główna</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Kontakt</a></li>
                <li><a href="#">Filmy Online</a></li>
            </ul>

            <ul id="kategorie">
                <li><img src=" /static/img/ui/kategorie.webp"></li>
                <li><a href="#">HISTORIA DŻEYSONA</a></li>
                <li><a href="#">Tańce i Pieśni</a></li>
                <li><a href="#">Kultowe</a></li>
                <li><a href="#">Wiele innych</a></li>
                <li><a href="#">NORBI</a></li>
                <li><a href="#">Menelskie GRY</a></li>
            </ul>

            <ul id="losowy">
                <li><img src=" /static/img/ui/losowy.webp"></li>
                <li><a href="#">Losowy film</a></li>
            </ul>

            <ul id="hity">
                <li><img src=" /static/img/ui/hity.webp"></li>
                <li><a href="#">sex</a></li>
                <li><a href="#">sex</a></li>
                <li><a href="#">sex</a></li>
                <li><a href="#">sex</a></li>
                <li><a href="#">sex</a></li>
                <li><a href="#">sex</a></li>
                <li><a href="#">sex</a></li>
                <li><a href="#">sex</a></li>
            </ul>
        </div>
        <div id="mid-bar">
            {% block content %}
            {% endblock %}
        </div>
        <div id="right-bar">
            <ul id="szukaj">
                <li><img src=" /static/img/ui/szukaj.webp"></li>
                <li><input type="text"></li>
                <li><input type="submit" value="Search"></li>
            </ul>

            <ul id="logowanie">
                {% if session|length < 1 %} <form action="{{url_for('login_app.login')}}" method="POST">
                    <li><img src=" /static/img/ui/logowanie.webp"></li>
                    <li> <span>E-mail</span> <input type="text" name="eml"></li>
                    <li> <span>Hasło</span> <input type="text" name="pswrd"></li>
                    <li><input type="checkbox"> <span>Zapamiętaj mnie</span></li>
                    <li><input type="submit" value="Zaloguj"></li>
                    <li><a href="{{url_for('login_app.register')}}">Nowe konto</a></li>
                    <li><a href="{{url_for('login_app.reset_password')}}">Nie pamiętam hasła</a></li>
                    </form>
                    {% else %}
                    zalogowany jako {{session['user']['nick']}}
                    <li><a href="{{url_for('user',nick = session['user']['nick'])}}">Profil</a></li>
                    <li><a href="{{url_for('post_app.create')}}">Stwórz post</a></li>
                    <li>
                        <form action="{{url_for('login_app.logout')}}" method="POST">
                            <input type="submit" value="wyloguj">
                        </form>
                </>
                {% endif %}
            </ul>

            <ul id="polecane">
                <li><img src=" /static/img/ui/polecane.webp"></li>
                <li><a href="#">Bajki</a></li>
                <li><a href="#">Seriale Online</a></li>
                <li><a href="#">Koncerty Na Żywo</a></li>
                <li><a href="#">Śpiewaj Karaoke</a></li>
                <li><a href="#">Fani</a></li>
                <li><a href="#">Siłownia w Internecie</a></li>
                <li><a href="#">Darmowe Komiksy Online</a></li>
            </ul>

        </div>
    </div>
</body>

</html>