{% extends "base.html" %}

{% block title %}
{{request.url_rule}}
{% endblock %}

{% block content %}
<div id="avatarowanie">
    <form action="#" method="post" enctype="multipart/form-data">
        Avatar powinien być w formacie .jpg, .png i posiadać wymiary co najmniej 128x128.
        <div class="rejestracja-field">
            <label for="file">plik</label>
            <input name="file" type="file">
        </div>
        <input type="submit" id="avatar-button" value="Prześlij">
        
    </form>
</div>
{% endblock %}