{% extends "base.html" %}

{% block title %}
{{request.url_rule}}
{% endblock %}

{% block content %}
<br>
<div id="postowanie">
    <form action="#" method="post" enctype="multipart/form-data">
        <div class="rejestracja-field">
            <label for="title">Tytuł</label>
            <input name="title" type="text">
        </div>
        <div class="rejestracja-field">
            <label for="description">Opis</label>
            <input name="description" type="text">
        </div>
        <div class="rejestracja-field forfiles">
            <input type="checkbox" id="zdjecie" name="file_type" value="zdjecie" onclick="return Validate();">
            <label for="zdjecie">Obraz</label>
            <br>
            <input type="checkbox" id="film" name="file_type" value="film" onclick="return Validate();">
            <label for="film">Plik widjio</label>

            <script type="text/javascript">
                function Validate() {
                    // kurwa to trzeba wrzucic do statica xdd
                    var checkboxes = document.getElementsByName("file_type");
                    var numberOfCheckedItems = 0;
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked)
                            numberOfCheckedItems++;
                    }
                    if (numberOfCheckedItems > 1) {
                        checkboxes.forEach(element => {
                            element.checked = false;
                        });
                        alert("Możesz wybrać tylko jeden format pliku!");
                        return false;
                    }
                }  
            </script>
        </div>
        <div class="rejestracja-field">
            <label for="file">Plik</label>
            <input name="file" type="file">
        </div>

        Obraz musi posiadać wymiary min. 512x512px
        <br>
        Maksymalna wielkość pliku to 128MB
        <br>
        <br>
        <center><input type="submit" id="rejestracja-button" value="Prześlij"></center>

    </form>
</div>
{% endblock %}