{% extends "base.html" %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
menele.me - dodaj post
{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.js"></script>
<script type="text/javascript">
    $(function() {
        $(".chzn-select").chosen({no_results_text: "Nie znaleziono takiej kategorii :c", width: "167px"});
    });
    </script>

<div id="postowanie">
    <form action="#" method="post" enctype="multipart/form-data">
        <div class="rejestracja-field">
            <label for="title">Tytuł</label>
            <input name="title" type="text">
        </div>
        <div class="rejestracja-field">
            <label for="description">Opis</label>
            <input name="description" type="text">
        </div>
        <div class="rejestracja-field forfiles">
            <input type="checkbox" id="zdjecie" name="file_type" value="zdjecie" onclick="Validate();">
            <label for="zdjecie">Obraz</label>
            <br>
            <input type="checkbox" id="film" name="file_type" value="film" onclick="Validate();">
            <label for="film">Plik widjio</label>

            <script type="text/javascript">
                function Validate() {
                    // kurwa to trzeba wrzucic do statica xdd
                    var checkboxes = document.getElementsByName("file_type");
                    var numberOfCheckedItems = 0;
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked)
                            numberOfCheckedItems++;
                    }
                    if (numberOfCheckedItems > 1) {
                        checkboxes.forEach(element => {
                            element.checked = false;
                        });
                        alert("Możesz wybrać tylko jeden format pliku!");
                        return false;
                    }
                }  
            </script>
        </div>
        <div class="rejestracja-field">
            <label for="file">Plik</label>
            <input name="file" type="file">
        </div>

        Obraz musi posiadać wymiary min. 512x512px
        <br>
        Maksymalna wielkość pliku to 128MB
        <br>
        <br>
        kategorie:
        <select class="chzn-select" multiple="true" name="kategorie" style="width:200px;">
            {% for kategoria in kategorie %}
            <option value="{{kategoria[0]}}">{{kategoria[0]}}</option>
            {% endfor %}
    </select>
    


        <center><input type="submit" id="rejestracja-button" value="Prześlij"></center>

    </form>
</div>
{% endblock %}