{% extends "base.html" %}

{% block title %}
menele.me - przypomnij hasło
{% endblock %}

{% block content %}

<div id="rejestracja">
    <form action="#" method="post">
        Zmiana hasła
        <div class="rejestracja-field">
            <label for="password">Hasło</label>
            <input name="pswrd" type="text">
        </div>
        <div class="rejestracja-field">
            <label for="password-repeat">Potwierdź hasło</label>
            <input name="pswrd-r" type="text">
        </div>
        <input type="submit" id="rejestracja-button" value="Zmień hasło">

    </form>
</div>
{% endblock %}