{% extends "base.html" %}

{% block title %}
{{request.url_rule}}
{% endblock %}

{% block content %}
<div id="content">
    {% for post in posts %}
    <div class="post">
        <ul>
            <li>
                <h3><a href="{{url_for('post_app.post_lookup', post_id = post[0])}}">{{post[4]}}</a></h3>
            </li>
            <li>Dodano przez:<a href="{{url_for('user_app.user', nick = post[1])}}">{{post[1]}}</a></li>
            <li>Dodano: {{post[2][:-7]}}</li>
            <li id="stats">{{post[6]}}+ {{post[7]}}- {{post[5]}} wyświetleń</li>
        </ul>
        <img src="static\img\posts\{{post[3]}}_small.webp">
        </div>
    {% endfor %}
    <div id="move-bar">
        {% if page != 1 %}
        <a href="{{url_for('index', page = page-1)}}" > <b><</b></a>
        {% endif %}
        {% for i in range(page-2,page+2) %}
        {% if i==page %}
        <b>{{i}}</b>

        {% elif i>0 and i<posts_count//7+1%}
        <a href="{{url_for('index', page = i)}}">{{i}}</a>
        {% endif %}
        
        {% endfor %}
        {% if page<posts_count//7+1 %}
        ...<a href="{{url_for('index', page = posts_count//7+1)}}">{{posts_count//7+1}}</a>
        {% endif %}
        {% if page != posts_count//7+1%}
        <a href="{{url_for('index', page = page+1)}}" > <b>></b></a>
        {% endif %}
    </div>  
</div>

<div id=" tagi">
        sex,ad,as,da,sd,asd,<br>
        asdasd
    </div>

    {% endblock %}