{% extends "base.html" %}

{% block title %}
{{request.url_rule}}
{% endblock %}

{% block content %}
<div id="content">
    {% for post in posts %}
    <div class="post">
        <ul>
            <li><a href="#">{{post[1]}}</a></li>
            <li>Dodane przez: <a href="#">{{post[9]}}</a></li>
            <li>Dodano: {{post[7][:-7]}}</li>
        </ul>
        <img src="data:image/jpg;base64,{{post[3]}}">
    </div>
        
    {% endfor %}
</div>

<div id="tagi">
    sex
</div>

{% endblock %}