{% extends "base.html" %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
{% endblock %}

{% block title %}
{{request.url_rule}}
{% endblock %}

{% block content %}

<script>
    $(document).ready(function () {
        $("#sort_by").val("{{sort_by}}").change();
        $("#time").val("{{time}}").change();
        $("#order").val("{{order}}").change();
        $("#category").val("{{_category}}").change();
    });
</script>

<div id="content">
    <button onclick="chowajfiltrygnoju()">Filtruj flirtuj eheheheh</button>

    <script>
        window.onload = chowajfiltrygnoju;
        function chowajfiltrygnoju() {
            var x = document.getElementById("sort");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        } 
    </script>

    <div id="sort">
        <form action="{{url_for('index')}}" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>Sortuj według:</td>
                        <td><select name="sort_by" id="sort_by">
                                <option value="hot">Gorąco</option>
                                <option value="views">Wyświetlenia</option>
                                <option value="upvotes">upvoty</option>
                                <option value="id">Najnowsze</option>
                            </select></td>
                        <td><select name="time" id="time">
                                <option value="1">Dziś</option>
                                <option value="7">Tydzień</option>
                                <option value="30">Miesiąc</option>
                                <option value="999">Wszechczas</option>
                            </select></td>
                        <td><select name="order" id="order">
                                <option value=" ">Rosnąco</option>
                                <option value="DESC">Malejąco</option>
                            </select></td>
                        <td><input type="submit" value="Sortuj"></td>
                    </tr>
                    <tr>
                        <td>Kategorie:</td>
                        <td>

                            <select name="category" id="category">
                                <option value=''>Wszystkie</option>
                                {% for category in categories %}
                                <option value='{{category[0]}}'>{{category[0]}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    {% for post in posts %}
    <div class="post">
        <ul>
            <li>
                <h3><a href="{{url_for('post_app.post_lookup', post_id = post[0])}}">{{post[4]}}</a></h3>
            </li>
            <li>Dodane przez: <a href="{{url_for('user_app.user', nick = post[1])}}">{{post[1]}}</a></li>
            <li>Dodano: {{post[2][:-7]}}</li>
            <li> kategorie: {{post[8]}} </li>
            <li id="stats">{{post[6]}}+ {{post[7]}}- {{post[5]}} wyświetleń</li>
        </ul>
        <a href="{{url_for('post_app.post_lookup', post_id = post[0])}}"><img
                src="static\img\posts\{{post[9]}}_small.webp"></a>
    </div>
    {% endfor %}
    <div id="move-bar">
        {% if page != 1 %}
        <a href="{{url_for('index', page = page-1, sort_by = sort_by, time = time, order = order)}}"> <b
                style="font-size:24px;">
            </b>
            << /a>
                {% endif %}
                {% for i in range(page-2,page+2) %}
                {% if i==page %}
                <b>{{i}}</b>

                {% elif i>0 and i<page_count %} <a href="{{url_for('index', page = i)}}">{{i}}
        </a>
        {% endif %}

        {% endfor %}
        {% if page<page_count %} ...<a
            href="{{url_for('index', page = page_count, sort_by = sort_by, time = time, order = order)}}">
            {{page_count}}</a>
            {% endif %}
            {% if page != page_count %}
            <a href="{{url_for('index', page = page+1, sort_by = sort_by, time = time, order = order)}}"> <b
                    style="font-size:24px;"></b>></a>
            {% endif %}
    </div>
</div>

<div id=" tagi">
    sex,ad,as,da,sd,asd,<br>
    asdasd
</div>

{% endblock %}