{% extends "base.html" %}

{% block title %}
{{request.url_rule}}
{% endblock %}

{% block content %}
<div id="content">
    <div id = "kontakt">
        <li><i class="fa-solid fa-envelope"></i> zul@menele.me</li>
        <li><a href="https://discord.gg/ABmScxVTV7" target="_blank"><i class="fa-brands fa-discord" style="color:#5865F2;"></i> Discord</a></li>
        <li><a href="https://www.facebook.com/groups/zuleraw" target="_blank"><i class="fa-brands fa-facebook-square" style="color:#3b5998;"></i> Facebook</a></li>
    </div>
</div>

{% endblock %}