{% extends "base.html" %}

{% block title %}
{{request.url_rule}}
{% endblock %}

{% block content %}
<div class="post_lookup">
    <div id="credits">
        <p><a href="{{url_for('user_app.user',nick=post[0])}}">{{post[0]}}</a></p>
        <p>{{post[1][:-7]}}
    </div>
    <h2>{{post[2]}}</h2>
    {% if post[9] %}

    <center><video width="80%" height="80%" controls>
            <source src="/static/img/posts_video/{{post[3]}}.webm" type="video/webm">
        </video></center>

    {% else %}
    <img id="lookup_img" src="/static/img/posts/{{post[3]}}_large.webp">

    {% endif %}
    <p>{{post[4]}}</p>
    <div id="rates">
        {% if session|length < 1 %} <p>{{post[6]}}<a href="#">+</a></p>
            <p>{{post[7]}}<a href="#">-</a></p>
            <p style="font-size:11px;">Zaloguj się aby zjabolować</p>
            <p>{{post[8]}} wyswietleń</p>
            {% else %}
                {{post[6]}}
                <a class="vote" href="{{url_for('post_app.upvote', post_id=post[5],vote_type=voted)}}">
                    {% if voted == false %}
                    <b>+</b>
                    {% else %}
                    +
                    {% endif %}
                </a>
                {{post[7]}}
                <a class="vote" href="{{url_for('post_app.downvote', post_id=post[5],vote_type=voted)}}">
                    {% if voted == true %}
                    <b>-</b>
                    {% else %}
                    -
                    {% endif %}
                </a>
            <p>{{post[8]}} wyswietleń</p>
            {% endif %}
    </div>
</div>
{% if session|length < 1 %} <textarea disabled rows="2" cols="55">Zalguj się aby zkomentować</textarea>
    <input type="submit" disabled value="Skomentuj">
    {% else %}
    <form action="{{url_for('post_app.comment', post_id = post[5])}}" method="post">
        <textarea name="comment" rows="2" cols="55"></textarea>
        <input type="submit" value="Skomentuj">
    </form>
    {% endif %}
    <div id="comments">
        {% for comment in comments %}
        <div class="comment">
            <div id="author"><a href="{{url_for('user_app.user', nick = comment[0])}}">{{comment[0]}}</a></div>
            <div id="date">{{comment[1][:-7]}}</div>
            <p>{{comment[2]}}</p>
        </div>
        {% endfor %}
    </div>
    {% endblock %}