{% extends "base.html" %}

{% block title %}
menele.me - rejestracja
{% endblock %}

{% block content %}

<div id="rejestracja">
    <form action="#" method="post">
        <div class="rejestracja-field">
            <label for="nck">Nick</label>
            <input name="nck" type="text" required minlength="3" maxlength="20">
        </div>
        <div class="rejestracja-field">
            <label for="email">E-mail</label>
            <input name="eml" type="text" required autocomplete="on">
        </div>
        <div class="rejestracja-field">
            <label for="password">Hasło</label>
            <input name="pswrd" type="password" required minlength="10" maxlength="32" autocomplete="on">
        </div>
        <div class="rejestracja-field">
            <label for="password-repeat">Potwierdź hasło</label>
            <input name="pswrd-r" type="password" required minlength="10" maxlength="32" autocomplete="on">
        </div>
<center><input type="submit" id="rejestracja-button" value="Zarejestruj"></center>

    </form>
</div>
{% endblock %}