{% extends "base.html" %}

{% block title %}
{{request.url_rule}}
{% endblock %}

{% block content %}

<div id="rejestracja">
    <form action="#" method="post">
        Jeśli nie pamiętasz hasła, wpisz swój e-mail.
        <div class="rejestracja-field">
            <label for="email">E-mail</label>
            <input name="eml" type="text">
        </div>
        <div class="rejestracja-field">
            <input type="submit" id="rejestracja-button" value="Resetuj hasło">
        </div>

    </form>
</div>
{% endblock %}