{% extends "base.html" %}

{% block title %}
menele.me - zmiana hasła
{% endblock %}

{% block content %}
<br>
<div id="ressetingpasswording">

    <form action="#" method="post">
        Formularz zmiany hasła.

        {% if session['user']|length > 1 %}

        <div class="rejestracja-field">
            <label for="email">E-mail</label>
            <input name="eml" type="text" value="{{session['user']['email']}}">
        </div>

        {% else %}

        <div class="rejestracja-field">
            <label for="email">E-mail</label>
            <input name="eml" type="text" value="" autocomplete="on">
        </div>

        {% endif %}

        <center><input type="submit" id="rejestracja-button" value="Resetuj hasło"></center>

    </form>
</div>
{% endblock %}