{% extends "base.html" %}

{% block title %}
{{request.url_rule}}
{% endblock %}

{% block content %}
<div id="profil">
    
    <div id="avatar">
        <img src="{{avatar}}" class="avatar-img" />
            

    </div>
    <div id="div2">
        <h3>nick: {{nick}}</h3>
            <br>

            {% if banned==True %}
            Użytkownik zbanowany: {{reason}}    
            {% endif %}
            
            {% if banned==False %}
            Ostatnio zalogowany: {{last_login}}
            <br>
            Na menele.me od: {{last_login}}
            <br>

            {% endif %}
    </div>
</div>
{% endblock %}