{% extends "base.html" %}

{% block title %}
{{request.url_rule}}
{% endblock %}

{% block content %}
<div id="content">
    {% if banned==True %}
    <div id="header">
        <div id="avatar">
            <img src="/static/img/ui/logo.webp" alt="avatar" width="128" height="128">
        </div>
        <div id="info">
            <ul>
                <li>{{nick}}</li>
                <li>{{location}}</li>
                <li><br></li>
                <li><p style="white-space: pre-line">Użytkownik zbanowany: {{reason}}</p></li>
            </ul>
        </div>
    </div>
    {% else %}
    <div id="header">
        <div id="avatar">
            <img src="{{avatar}}" alt="avatar" width="128" height="128">
        </div>
        <div id="info">
            <ul>
                <li>{{nick}}<span>jabole: <b style="color:#86A738;">{{points}}</b></span></li>
                <li>{{location}}</li>
                <li><br></li>
                <li><p style="white-space: pre-line">{{description}}</p></li>
            </ul>
        </div>
    </div>
    <div id="osiagniecia">
        <h3>Osiagniecia</h3>
        <li>
            order usmiechu,
            order smiechu żula
        </li>
    </div>
    <div id="posts" style="width:492px;">
        <h3>Posty</h3>
        {% for post in posts %}
        <div class="post" style="margin-right:18px; width:467px;">
            <ul>
                <li>
                    <h3><a href="{{url_for('post_app.post_lookup', post_id = post[0])}}">{{post[3]}}</a></h3>
                </li>
                <li>Dodane przez: <a href="{{url_for('user_app.user', nick = nick)}}">{{nick}}</a></li>
                <li>Dodano: {{post[1][:-7]}}</li>
                <li id="stats">{{post[5]}}+ {{post[6]}}- {{post[4]}} wyświetleń</li>
            </ul>
            <a href="{{url_for('post_app.post_lookup', post_id = post[0])}}"><img src="/static/img/posts/{{post[7]}}_small.webp"></a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}