{% extends "base.html" %}

{% block title %}
{{request.url_rule}}
{% endblock %}

{% block content %}
<div id="profil">
    
    <div id="avatar">
        <img src="{{avatar}}" class="avatar-img" />
            

    </div>
    <div id="div2">
        <div id="nick-profil">{{nick}}</div>
            <br>

            {% if banned==True %}
            Użytkownik zbanowany: {{reason}}    
            {% endif %}
            
            {% if banned==False %}
            Ostatnio zalogowany: {{last_login}}
            <br>
            Na menele.me od: {{date_created}}
            <br>
            {{description}}
            {% endif %}

            
    </div>

    
</div>

<center><h1> nie wiem co tu mozna wrzucic ale pusto tu jak skurwysyn </h1></center>
{% endblock %}