html {
    margin: 0;
    padding: 0;
    background-image: url("../img/background.webp");
    background-color: #272727;
    background-repeat: repeat-x;
    font-family: arial, helvetica, sans-serif;
}

#container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 1500px;
    width: 850px;
    margin-bottom: 100px;
}

#logo {
    width: fit-content;
    height: fit-content;
}

#left-bar, #right-bar {
    float: left;
    width: 165px;
    height: 1244px;
}

#left-bar {
    border-right: #A8A8A8 solid 1px;
}

#right-bar {
    float: right;
    border-left: #A8A8A8 solid 1px;
}

#mid-bar {
    position: relative;
    float: left;
    width: 58%;
    margin: 0 10px 0 10px;
    text-align: justify;
    height: 1248px;
    overflow: hidden;
}

#content {
    position: relative;
    float: left;
    width: 498px;
    text-align: justify;
    height: 1058px;
    overflow: hidden;
}

ul {
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 165px;
    height: fit-content;
    text-align: center;
    display: block;
    float: inline-end left;
}
a {
    color: #5e7528;
    text-decoration: none;
}

a:hover {
    color: #86A738;
}

ul span {
    font-family: helvetica, sans-serif;
    font-size: 11px;
}

#tagi {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid #A8A8A8;
    width: 498px;
    height: 178px;
    text-align: center;
}

#right-bar input[type=text] {
    width: 85%;
}

#kategorie li:nth-child(1n+2) {
    list-style-image: url("../img/gwiazdka.jpg");
    text-align: left;
    margin-left: 20px;
}

#rejestracja{
    margin: auto;
    width: 80%;
    position: relative;
}

.rejestracja-field{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.rejestracja-field input{
    position: absolute;
    right: 30px;
}
.rejestracja-field:last-child{
    position: absolute;
    right: -80px;
}

.post{
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    position: relative;
}

.post ul{
    display: block;
    width: fit-content;
    height: fit-content;
    max-width: 200px;
    position: absolute;
    text-align: center;
    left:100px;
    top: 35px;
}

.post img{
    width: 130px;
    height: 100px;
    position: absolute;
    right: 15px;
    top:15px;
}
.post h3{
    margin: 0;
}

#credits p{
    text-align: left;
    margin: 2px;
    font-size: 11px;
}

.post_lookup h2{
    margin: 0;
    width: 100%;
    height: fit-content;
    text-align: center;
}
.post_lookup img{
    width: 100%;
    height: fit-content;
}

.post_lookup #rates p{
    display: inline;
    margin-left:30px;
}

.post_lookup #rates p a{
    font-size: 16px;
    font-weight: bold;
}

#error{
    font-weight: bold;
    height: fit-content;
    width: 842px;
    background-color: white;
    background-color: #f2f2f2;
    border: 1px solid #A8A8A8;
    padding: 3px;
    position:fixed;
    top:0;
    z-index: 100;
}

#error ul{
    width: 100%;
    display: block;
    text-align: center;
}
#error ul li:first-child{
    float: right;
}