html {
    margin: 0;
    padding: 0;
    background-image: url("../img/ui/background.webp");
    background-color: #272727;
    object-fit: cover;
    background-repeat: repeat-x;
    font-family: Arial;
}

#container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 1500px;
    width: 850px;
    margin-bottom: 100px;
}

#avatar{
    float:left;
    width: 128px;
    height: 128px;
}

#header{
    background-color: #f2f2f2;
    width: 498px;
    height: 128px;
}

#info{
    background-color: 8;
    float:left;
    margin-left: 10px;
    margin-right: 10px;;
    width: 350px;
    height: 128px;
}

#info li span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

#info li:first-child{
position: relative;
font-size: 16px;
font-weight: bold;
}
#info ul{
    text-align: left;
    overflow: hidden;
    width: 100%;
    height: 100%;
    word-break: break-all;
}

#logo {
    width: fit-content;
    height: fit-content;
}

#left-bar, #right-bar {
    float: left;
    width: 165px;
    height: 1244px;
}

#left-bar {
    border-right: #A8A8A8 solid 1px;
}

#right-bar {
    float: right;
    border-left: #A8A8A8 solid 1px;
}

#mid-bar {
    position: relative;
    float: left;
    width: 58%;
    margin: 0 10px 0 10px;
    text-align: justify;
    height: 1245px;
    overflow: hidden;
}

#content {
    position: relative;
    float: left;
    width: 498px;
    text-align: justify;
    height: 1158px;
    overflow: hidden;
}

#posts{
    overflow: scroll;
    height: 100%;
}

#postowanie {
    width: 100%;
    height: 230px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    position: relative;
}

ul {
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 165px;
    height: fit-content;
    text-align: center;
    display: block;
    float: inline-end left;
}

a {
    color: #5e7528;
    text-decoration: none;
}

a:hover {
    color: #86A738;
}

ul span {
    font-family: sans-serif, sans-serif;
    font-size: 11px;
}

#tagi {
    border-top: 2px solid #A8A8A8;
    width: 498px;
    height: 178px;
    text-align: center;
}

#right-bar input[type=text] {
    width: 85%;
}

#kategorie li:nth-child(1n+2) {
    list-style-image: url("../img/ui/gwiazdka.jpg");
    text-align: left;
    margin-left: 20px;
}

#rejestracja {
    margin: auto;
    width: 80%;
    position: relative;
}

#avatar-button {
    cursor: pointer;
    float: right;
}

.file-field{
    margin-top: 10px;
    margin-bottom: 10px;
}

.rejestracja-field {
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    width: 95%;
    height: 30px;
    margin-bottom: 10px;
    background-color: #cfcfcf;
}

.forfiles {
    height: 45px;
}

.rejestracja-field input {
    position: absolute;
    right: 10px;
    width: 200px;
}

.rejestracja-field:last-child {
    position: absolute;
    right: -80px;
}

.avatar-img {
    width: 120px;
    height: 120px;
    border: #A8A8A8 solid 1px;
    position: relative;
}

.profil {
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
    background-color: #acacac;
    position: relative;
}

.profil > div{
    float: left;
    width: 50%;
}

.post {
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    position: relative;
}

.post ul {
    display: block;
    width: fit-content;
    height: fit-content;
    max-width: 200px;
    position: absolute;
    text-align: center;
    left: 100px;
    top: 35px;
}
.post #stats {
    font-size: 12px;
}
.post img {
    width: 130px;
    height: 100px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.post h3 {
    margin: 0;
}

#credits p {
    text-align: left;
    margin: 2px;
    font-size: 11px;
}

.post_lookup {
    background-color: #f2f2f2;
    padding: 10px;
}

.post_lookup h2 {
    margin: 0;
    width: 100%;
    height: fit-content;
    text-align: center;
}

.post_lookup img {
    width: 100%;
    height: fit-content;
}

.post_lookup #rates p {
    display: inline;
    margin-left: 30px;
}

.post_lookup #rates p a {
    font-size: 16px;
    font-weight: bold;
}

#bruh {
    width: 400px;
    background-color: #f2f2f2;
    height: fit-content;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#error {
    font-weight: bold;
    height: fit-content;
    width: 842px;
    background-color: white;
    background-color: #f2f2f2;
    border: 1px solid #A8A8A8;
    padding: 3px;
    position: fixed;
    top: 0;
    z-index: 100;
}

#error ul {
    width: 100%;
    display: block;
    text-align: center;
}

#error ul li:first-child {
    float: right;
}

#comments{
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    height: 385px;
}

.comment {
    padding: 5px;
    margin-right: 15px;
    position: relative;
    width: 468px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
}

.comment #author {
    font-size: 18px;
}

.comment #date {
    font-size: 11px;
    right: 5px;
    position: absolute;
    top:5px;
}
.comment p{
    text-align: justify;
}
textarea{
    margin-top: 10px;
    width: 485px;
    resize: none;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
.hit{
    background-color: #f2f2f2;
    display: block;
    position: relative;
    width: 165px;
    margin-bottom: 10px;
    padding: 3px 0 3px 0;
}
.hit #title{
    word-break: break-all;
    margin-left: 10px;
    font-size: 15px;
    text-align: left;
    width: 110px;
}

.hit #views{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 13px;
}
#kontakt li{
    list-style-type: none;
    text-align: left;
    text-align: center;
    margin-top: 10px;
    background-color: #f2f2f2;
    letter-spacing: 1px;
    font-size: 26px;
}
#kontakt li i{
    font-size: 32px;
}
#move-bar{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.vote{
    display: inline;
}

#sort{
    width: 498px;
    font-size: 13px;
}

svg{
    filter: invert(38%) sepia(8%) saturate(4728%) hue-rotate(37deg) brightness(96%) contrast(69%);
}
svg:hover{
    filter: invert(64%) sepia(10%) saturate(2353%) hue-rotate(37deg) brightness(93%) contrast(88%);
}